/* App.css */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;

}

body {
    width: 100%;
}

nav {
    background-color: #282c34;
    padding: 1rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

main {
    text-align: center;
    padding: 2rem;
    width: 100%;
}

.card {
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 500px;
    text-align: center;
    background-color: #f9f9f9; /* светлый фон карточек */
}

button {
    margin: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #61dafb;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.card h2 {
    color: #000;
}

.read-the-docs {
    font-size: 0.9rem;
    color: #000;
}

#frame {
    background-color: #f9f9f9;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    margin: 10px auto;
}

#checkout_item_frame {
    background-color: #f9f9f9;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 10px auto;
    width: auto;
}

#checkout_item_frame #image {
    width: 100px;
    margin-right: 1rem;
}

#checkout_item_frame #price,
#checkout_item_frame #amount {
    text-align: center;
}

aside {
    width: 100%;
    max-width: 400px;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem auto;
}

.contact-page {
    padding: 2rem;
    text-align: center;
    color: #333;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 2rem auto;
}

.contact-form input,
.contact-form textarea {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9; /* светлые поля */
    color: #333;
}

.contact-form button {
    padding: 1rem;
    font-size: 1rem;
    margin: 0 auto;
    background-color: #61dafb;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
